@using System.Web.UI.WebControls
@model AutogearWeb.Models.LoginViewModel
@{
    ViewBag.Title = "Login page";
}
@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="login-container">
                <div class="center">
                    <h1>
                        <i class="ace-icon fa fa-leaf green"></i>
                        <span class="red">Autogear</span>                        
                    </h1>                    
                </div>

                <div class="space-6"></div>

                <div class="position-relative">
                    <div id="login-box" class="login-box visible widget-box no-border">
                        <div class="widget-body">
                            <div class="widget-main">
                                <h4 class="header blue lighter bigger">
                                    <i class="ace-icon fa fa-coffee green"></i>
                                    Please Enter Your Information
                                </h4>

                                <div class="space-6"></div>

                                <form>
                                    <fieldset>
                                        <label class="block clearfix">
                                            <span class="block input-icon input-icon-right">
                                            @Html.TextBoxFor(m=>m.Email,new {@class="form-control",PlaceHolder="Email"})
                                            <i class="ace-icon fa fa-user"></i>
                                        </span>
                                        </label>

                                        <label class="block clearfix">
                                            <span class="block input-icon input-icon-right">
                                            @Html.PasswordFor(m => m.Password, new {  @class = "form-control" ,PlaceHolder="Password"})
                                            <i class="ace-icon fa fa-lock"></i>
                                        </span>
                                        </label>

                                        <div class="space"></div>

                                        <div class="clearfix">
                                            <label class="inline">
                                                <input type="checkbox" class="ace"/>
                                                <span class="lbl"> Remember Me</span>
                                            </label>

                                            <button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
                                                <i class="ace-icon fa fa-key"></i>
                                                <span class="bigger-110">Login</span>
                                            </button>
                                        </div>

                                        <div class="space-4"></div>
                                    </fieldset>
                                </form>


                            </div><!-- /.widget-main -->

                            <div class="toolbar clearfix">
                                <div>
                                    <a href="#" data-target="#forgot-box" class="forgot-password-link">
                                        <i class="ace-icon fa fa-arrow-left"></i>
                                        I forgot my password
                                    </a>
                                </div>

                            </div>
                        </div><!-- /.widget-body -->
                    </div><!-- /.login-box -->




                </div><!-- /.position-relative -->


            </div>
        </div><!-- /.col -->
    </div>
    <!-- /.row -->
}