
@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New", "Create", new object { },new { @class = "btn btn-success" })
</p>
<table class="table table-striped table-bordered table-hover" id="jqGrid"></table>
<div id="jqGridPager"></div>
@section Scripts{
    @Scripts.Render("~/bundles/jqGrid");
    <script>
        $(function() {
            var baseUrl = "/Api/AutogearApi/";
            $("#jqGrid").jqGrid({
                url: baseUrl + "GetInstructors",
                datatype: "json",
                colModel: [
                 {
                     label: 'First Name',
                     name: 'FirstName',
                     width: 100,
                     key: true,
                     editable: true,
                     editrules: { required: true }
                 },
                 {
                     label: 'Last Name',
                     name: 'LastName',
                     width: 100,
                     editable: true // must set editable to true if you want to make the field editable
                 },
                 {
                     label: 'Email',
                     name: 'Email',
                     width: 100,
                     editable: true
                 },
                 {
                     label: 'Phone',
                     name: 'Phone',
                     width: 100,
                     editable: true
                 }
                ],
                sortname: 'Email',
                sortorder: 'asc',
                loadonce: true,
                viewrecords: true,
                width: 780,
                height: 200,
                rowNum: 10,
                pager: "#jqGridPager"
            });
            
        });
    </script>
}
